body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar-light .navbar-nav .nav-link.active,
a {
  color: #ff7043;
}

.navbar-light .navbar-nav .nav-link .active:hover,
a:hover {
  color: #ff7043;
}


.nav-item {
  margin: auto;
}

.navbar-nav {
  white-space: nowrap;
}

.btn-primary {
  color: white !important;
  background-color: #ff7043 !important;
  border-color: #ff7043 !important;
}

.btn-secondary {
  color: #ff7043 !important;
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.footer {
  background-color: #ff7043;
  min-height: 5%;
  bottom: 0;
}

.card-home {
  border-color: #ff7043;
}

.list-cards-box {
  height: 300px;
  overflow-y: scroll;
}

.profile-pic {
  height: 15vw !important;
  width: 15vw !important;
  object-fit: "cover";
}

.clickable {
  cursor: pointer;
}